<mat-accordion multi="true">
  <mat-expansion-panel showToggle="true">
    <mat-expansion-panel-header>
      Registered Nurse to MSN
    </mat-expansion-panel-header>

    <mat-accordion multi="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>RN to MSN - Nurse Leader Track</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <i
            >You must be a licensed registered nurse and have completed a
            Bachelor of Science in Nursing degree or a bachelor's degree in a
            closely related field to apply for this program.</i
          >
        </p>
        <p>
          Where would you like to pursue your RN to MSN - Family Nurse
          Practitioner Track at?
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
