<app-navbar></app-navbar>

<div class="content-container">
  <div class="component-container">
    <p style="text-align: center;">Your Application Progress</p>
    <app-progress-bar></app-progress-bar>
  </div>

  <div class="component-container">
    <app-home-page-card></app-home-page-card>
  </div>

  <div class="component-container" style="margin-top: 24px;">
    <app-select-field></app-select-field>
  </div>

  <div class="component-container">
    <app-text-field></app-text-field>
  </div>

  <div class="component-container">
    <p>Your sex:</p>
    <app-v-form-btn-group></app-v-form-btn-group>
  </div>

  <div class="component-container">
    <p>What type of program are you looking for?</p>
    <app-h-form-btn-group></app-h-form-btn-group>
  </div>

  <div class="component-container">
    <app-form-card></app-form-card>
  </div>

  <div class="component-container">
    <app-file-card></app-file-card>
  </div> 

  <div class="component-container">
    <app-expansion-panel></app-expansion-panel>
  </div>

  <div class="component-container-no-gap">
    <app-continue-btn></app-continue-btn>
  </div>
</div>
