.file-card-container {
  margin-top: 12px;
}

.file-card-title-container {
  display: flex; align-items: center; 
  justify-content: space-between;
}

.file-card-title {
 font-size: 20px; 
  font-weight: 600;
}

.file-card-desc {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.card-state-container {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.card-state-toggle {
  margin: 6px 10px;
}

