<div class="component-container">
  <p>Toggle Form Card State:</p>
  <section class="card-state-container">
    <mat-radio-group [(ngModel)]="cardState">
      <mat-radio-button class="card-state-toggle" value="valid">
        Valid
      </mat-radio-button>
      <mat-radio-button class="card-state-toggle" value="invalid">
        Invalid
      </mat-radio-button>
    </mat-radio-group>
  </section>
</div>

<div class="file-card-container" [ngSwitch]="cardState">
  <!-- valid Card -->
  <mat-card    
    *ngSwitchCase="cardStateIsValid"
    [class.mat-elevation-z2]="true"    
  >
    <div class="file-card-title-container">
      <span class="file-card-title">Resume</span>
      <img
        src="../../../../assets/icons/exit.svg"
        alt=""
      />
    </div>
    <p class="file-card-desc">
      annie_pyle_resume.pdf
    </p>
  </mat-card>

  <!-- Invalid Card -->
  <mat-card
    class="file-card-invalid"
    *ngSwitchCase="cardStateIsInvalid"
    [class.mat-elevation-z0]="true"    
  >
    <div class="file-card-title-container">
      <span class="file-card-title">Resume</span>      
    </div>
    <p class="file-card-desc">
      File size exceeds 100 MB. Upload a smaller file.
    </p>
  </mat-card>
</div>
