<div class="component-container">
  <p>Toggle Home Page Card State:</p>
  <section class="card-state-container">
    <mat-radio-group [(ngModel)]="cardState">
      <mat-radio-button class="card-state-toggle" value="active">
        Active
      </mat-radio-button>
      <mat-radio-button class="card-state-toggle" value="inactive">
        Inactive
      </mat-radio-button>
      <mat-radio-button class="card-state-toggle" value="complete">
        Completed
      </mat-radio-button>
      <mat-radio-button class="card-state-toggle" value="collapsed">
        Collapsed
      </mat-radio-button>
    </mat-radio-group>
  </section>
</div>

<div class="home-page-card-container" [ngSwitch]="cardState">
  <!-- Active Card -->
  <mat-card 
    *ngSwitchCase="cardStateIsActive"
    [class.mat-elevation-z4]="true"
  >
    <div class="home-page-card-title">
      <p class="home-page-card-step-name">About Me</p>
      <p class="home-page-card-step-number">Step 1</p>
    </div>
    <ul class="home-page-card-ul">
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Personal Information</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Phone Number & Email</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Date of Birth & Sex</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Current Mailing Address</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Emergency Contact</span>
      </li>
    </ul>
    <button mat-flat-button color="accent" class="card-continue-btn">CONTINUE</button>
  </mat-card>

  <!-- Inactive Card -->
  <mat-card
    *ngSwitchCase="cardStateIsInactive"
    [class.mat-elevation-z0]="true"
    style="border: 1px solid #b6b6b6;"
  >
    <div class="home-page-card-title">
      <p class="home-page-card-step-name">About Me</p>
      <p class="home-page-card-step-number">Step 1</p>
    </div>
    <ul class="home-page-card-ul">
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Personal Information</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Phone Number & Email</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Date of Birth & Sex</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Current Mailing Address</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark-blank.svg" alt="" />
        <span class="home-page-card-li-title">Emergency Conact</span>
      </li>
    </ul>
  </mat-card>

  <!-- Complete Card -->
  <mat-card [class.mat-elevation-z4]="true" *ngSwitchCase="cardStateIsComplete">
    <div class="home-page-card-title">
      <p class="home-page-card-step-name">About Me</p>
      <p class="home-page-card-step-number">Step 1</p>
    </div>
    <ul class="home-page-card-ul">
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-li-title">Personal Information</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-li-title">Phone Number & Email</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-li-title">Date of Birth & Sex</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-li-title">Current Mailing Address</span>
      </li>
      <li class="home-page-card-li">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-li-title">Emergency Contact</span>
      </li>
    </ul>
    <div class="edit-btn-container">
      
      <button mat-flat-button class="card-edit-btn"> <img src="../../../../assets/icons/pencil.svg" alt="" />
        Edit</button>
    </div>
  </mat-card>

  <!-- Collapsed Card -->
  <mat-card
    *ngSwitchCase="cardStateIsCollapsed"
    [class.mat-elevation-z0]="true"
    style="border: 1px solid #b6b6b6"
  >
    <div class="home-page-card-title">
      <span class="home-page-card-step-name">About Me</span>
      <div class="collapsed-step-number">
        <img src="../../../../assets/icons/checkmark.svg" alt="" />
        <span class="home-page-card-step-number" style="margin-left: 8px"
          >Step 1</span
        >
      </div>
    </div>
  </mat-card>
</div>
