/* 
  Material Config
*/

@use '@angular/material' as mat;

@include mat.core();

$wcu-material-warn: mat.define-palette(mat.$red-palette);

// Define color palettes
// Teal Palette
$wcu-teal-palette: (
 50: #dff4fb,
 100: #b0e5f3,
 200: #7dd4ea,
 300: #4bc2df,
 400: #27b6d6,
 500: #13aacd,
 600: #0e9bba,
 700: #0587a0,
 800: #007488,
 900: #00525d,
 
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: white,
   800: white,
   900: white,
 )
);

// Orange Palette
$wcu-orange-palette: (
 50: #fff3e2,
 100: #fee0b7,
 200: #fecc89,
 300: #feb85c,
 400: #fea83e,
 500: #fd9a2d,
 600: #f88e2a,
 700: #f17f27,
 800: #ea7125,
 900: #df5922,
 
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: white,
   900: white,
 )
);

$wcu-primary: mat.define-palette($wcu-teal-palette, 800);
$wcu-accent: mat.define-palette($wcu-orange-palette, 800);

$wcu-material-theme: mat.define-light-theme((
  color: (
    primary: $wcu-primary,
    accent: $wcu-accent,
    warn: $wcu-material-warn,
  )
));

@include mat.all-component-themes($wcu-material-theme);

/*
  Custom Variables
*/

$app-background: #f4f9fa;
$border-light: #b6b6b6;

/*
  Global styles
*/

* { font-family: Montserrat, "Arial", sans-serif !important; }
html, body { height: 100%; }
body { margin: 0; } 
.mat-app-background { background-color: $app-background !important; } 

.content-container {
  max-width: 768px;
  margin: auto;
}

/*
  Shared Component styles 
*/

// Form Buttons
// Reset defaults
::ng-deep .mat-button-toggle-group-appearance-standard {
  border: none !important;
}

.mat-button-toggle-group-appearance-standard {    
  border: solid 1px #f4f9fa;
}

.mat-button-toggle-appearance-standard {
  color: mat.get-color-from-palette($wcu-teal-palette, 800) !important;
  font-weight: 700 !important;
}

// Horizontal form buttons
.vertical-form-btn-group,
.horizontal-form-btn-group {  
  width: 100% !important;
} 

.mat-button-toggle-vertical {
  gap: 12px;
} 

.horizontal-form-btn-group {
  justify-content: space-between !important;  
  gap: 12px;
} 

.horizontal-form-btn {
  min-width: 48%;
} 

.mat-button-toggle-button {
  border: 1px solid $border-light !important;
  border-radius: 4px;    
}

// Checked/active button styles
.mat-button-toggle-checked {
  background-color: mat.get-color-from-palette($wcu-teal-palette, 800);  
  color: white !important;
  font-weight: 700;
  border-radius: 4px;  
}

.mat-button-toggle-group-appearance-standard.mat-button-toggle-vertical .mat-button-toggle + .mat-button-toggle {
  border-left: none;
  border-right: none;
  border-top: none;
}

// Save and continue button
.continue-btn {
  border-radius: 0px !important;
  height: 54px;
  width: 100%;
  font-weight: 700;
}

// Form controls
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
  color: $border-light;    
  border-radius: 4px;
}

.form-control {      
  font-size: 16px !important;
  width: 100%;  
}

.mat-form-field-label {
  color: rgba(black, 0.87) !important;  
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #007488 !important;
}

.form-control-label {
  font-weight: 600;
}

// Cards
.form-card-container,
.file-card-container,
.home-page-card-container {
  margin-top: 12px;
}

.form-card-title-container,
.file-card-title-container,
.home-page-card-title-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.form-card-title,
.file-card-title {
  font-size: 20px; 
   font-weight: 600;
}

.form-card-desc,
.file-card-desc {
  margin-top: 12px !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

// Styles for card state toggle control
.card-state-container {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.card-state-toggle {
  margin: 6px 10px;
}

/*
  Utility classes for page layout
*/
.content-container {
  padding-top: 36px;
}

.component-container {  
  padding: 12px;
}

.component-container-no-gap, 
.extra-margin {
  margin-top: 24px;
}

